.artigoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #eee;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .artigoContainer .artigoContent {
    max-width: 600px;
  }
  
  .artigoContainer .artigoContent h2 {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 10px 0 10px 0;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      font-family: 'Coiny', cursive;
      font-size: 20px;
      text-align: center;
  }
  
  .artigoContainer .artigoContent p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    word-break: break-all;
    background-color: white;
    margin: 0 auto;
    text-align: center;
  }
  
  .artigoContainer .lixeira button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .artigoContainer .lixeira button img {
    height: 30px;
    width: 50px;
  }